table{
    border: solid navy 3px;
    height: 400px;
    width: 500px;
    background-color: bisque;

}
/* tr{
    border: solid 1px black;
}
head{
    border: 1px solid black;
    height: 400px;
    width: 500px;
} */

.div-1{
    border: solid 1px black;
    height: 300px;
    width: 400px;
    background-color: rgb(212, 255, 212);
}
 h1{
    color: orangered;
 }

.p-1{
    color: brown;
}
 span{
    color: yellow;
 }