*{
    margin: 0;
    font-size: 18px;
    box-sizing: border-box;
}
.login {
    width: 300px;
    border: 1px solid gray;
    margin: auto;
    padding: 10px;
}
.login div {
    margin: 20px;
}
.butt {
    padding: 5px;
}

main {
    width: 80%;
    display: flex;
    border: 1px solid gray;
    margin: auto;
    min-height: 100vh;
}
main nav {
    border-right: 2px solid gray;
    width: 20%;
    background-color: beige;
}
main .content {
    background-color: aquamarine;
    width: 80%;
}